@*Partial view to show email template details*@
<table class="table table-bordered table-striped datatable scroll" id="EmailTemplatedetails">
    <thead>
        <tr>
            <th>Email Template</th>
            <th>Email Subject</th>
            <th>Added Date</th>
            <th class="actionedit view-more">
                Actions
            </th>
        </tr>
    </thead>
</table>