@*View to show email template details*@
@model DealSe.Areas.Admin.ViewModels.EmailTemplateViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home",new { Area = "Admin" })"><i class="entypo-home"></i>Home</a>
    </li>
    <li>
        <i class="entypo-cog"></i>Others
    </li>
    <li class="active">
        <strong><i class="entypo-mail"></i>Email Template</strong>
    </li>
</ol>
<h2>Email Template</h2>
<br />
@if (TempData["Error"] != null)
{
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger"><strong>Oops!</strong><br /><span> @TempData["Error"]</span></div>
    </div>
</div>
}
else if (TempData["Success"] != null)
{
<div class="row">
    <div class="col-md-14">
        <div class="alert alert-success"><strong>Success!</strong> @TempData["Success"]</div>
    </div>
</div>
}
<br class="clear" />
@await Html.PartialAsync("_EmailTemplateDetails")
@await Html.PartialAsync("_DatatableCSSJSView")
<script src="~/admin/assets/js/tinymce.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });
    var responsiveHelper;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    function loadData() {
        var tableContainer;
        tableContainer = $("#EmailTemplatedetails");
        tableContainer.dataTable(
            {
                "destroy": true,
                "aaSorting": [],
                "pageLength": 10,
                "bStateSave": false,
                "processing": true,
                oLanguage: {
                    sProcessing: "<div id=preloader></div>"
                },
                "serverSide": true,
                "ajax": {
                    "url": '/Admin/EmailTemplate/LoadData',
                    "type": "POST",
                    "datatype": "json"
                },

                "aoColumns": [
                    { "data": "emailTemplateName", "name": "emailTemplateName", "bSearchable": true, "autoWidth": true, "width": "20%" },
                    { "data": "emailTemplateSubject", "name": "emailTemplateSubject", "bSearchable": true, "autoWidth": true, "width": "15%" },
                    { "data": "addedDate", "name": "addedDate", "bSearchable": true, "autoWidth": true, "width": "15%" },

                    {
                        "mData": "Activated", "bSearchable": false, "bSortable": false, "autoWidth": true, "width": "10%",
                        "mRender": function (data, type, row) {
                            return '<a class="btn btn-blue btn-sm btn-icon icon-left" href="/Admin/EmailTemplate/EditEmailTemplate/' + row.emailTemplateId + '"><i class="entypo-pencil"></i>Edit</a>';
                        }, "sClass": "view-more"
                    }
                ],
                bAutoWidth: false,
                fnPreDrawCallback: function () {
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableContainer, breakpointDefinition);
                    }
                },
                fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback: function (oSettings) {
                    responsiveHelper.respond();
                    responsivePaginationDesign();
                    if (window.matchMedia('(max-width: 768px)').matches) {
                        responsiveTableColumn("#EmailTemplatedetails");
                    }
                }
            });
        $(".dataTables_wrapper select").select2({
            minimumResultsForSearch: -1
        });
    }
    $(window).resize(function () {
        if (window.matchMedia('(max-width: 768px)').matches) {
            responsiveTableColumn('#EmailTemplatedetails');
        }
    })
</script>