@*Partial view to show offer details*@
<table class="table table-bordered table-striped datatable scroll" id="OfferDetails">
    <thead>
        <tr>
            <th class="searchcheck">
                <div class="checkbox checkbox-replace">
                    <input type="checkbox" id="chk-1" onclick="checkall(this);">
                </div>
            </th>
            <th>Sr No.</th>
            <th>Store Name</th>
            <th>offer Name</th>
            <th>Start Date - End Date</th>
            <th>Added Date</th>
            <th>User Redeem Limit</th>
            <th class="actionedit view-more">
                Actions
            </th>
        </tr>
    </thead>
</table>