@*Partial view for sidebar*@
<div class="sidebar-menu hidden-print">
    <header class="logo-env">
        <!-- logo -->
        <div class="logo">
            <a href="/Admin" style="font-size: 35px;color:dimgray">
                DealSe
            </a>
        </div>
        <!-- logo collapse icon -->
        <div class="sidebar-collapse" id="sidebar-collapse">
            <a href="javascript:void(0)" class="sidebar-collapse-icon with-animation">
                <i class="entypo-menu"></i>
            </a>
        </div>
        <div class="sidebar-mobile-menu visible-xs">
            <a href="#" class="with-animation">
                <i class="entypo-menu"></i>
            </a>
        </div>
    </header>
    <ul id="main-menu" class="">
        @*<li class="active opened active">*@
        <li id="lidashboard">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="entypo-gauge"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li id="listoretype">
            <a asp-area="Admin" asp-controller="StoreType" asp-action="Index">
                <i class="entypo-home"></i>
                <span>Store Type</span>
            </a>
        </li>
        <li id="listore">
            <a asp-area="Admin" asp-controller="Store" asp-action="Index">
                <i class="entypo-home"></i>
                <span>Store</span>
            </a>
        </li>
        <li id="liothers">
            <a href="#"><i class="entypo-cog"></i><span>Others</span></a>
            <ul>
                <li id="licountry">
                    <a asp-area="Admin" asp-controller="Country" asp-action="Index">
                        <i class="entypo-globe"></i><span>Countries</span>
                    </a>
                </li>
                <li id="licountry">
                    <a asp-area="Admin" asp-controller="State" asp-action="Index">
                        <i class="entypo-globe"></i><span>States</span>
                    </a>
                </li>
                <li id="licountry">
                    <a asp-area="Admin" asp-controller="City" asp-action="Index">
                        <i class="entypo-globe"></i><span>Cities</span>
                    </a>
                </li>
                <li id="licountry">
                    <a asp-area="Admin" asp-controller="Area" asp-action="Index">
                        <i class="entypo-globe"></i><span>Areas</span>
                    </a>
                </li>
                <li id="liemailtemplate">
                    <a asp-area="Admin" asp-controller="EmailTemplate" asp-action="Index">
                        <i class="entypo-mail"></i><span>Email Templates</span>
                    </a>
                </li>
                <li id="lisitesetting">
                    <a asp-area="Admin" asp-controller="SiteSetting" asp-action="Index">
                        <i class="entypo-tools"></i><span>Site Settings</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>