@*Partial view to display site sttings*@
<table class="table table-bordered table-striped datatable scroll" id="SiteSettingDetails">
    <thead>
        <tr>
            <th>Site Setting Name</th>
            <th>Site Setting value</th>
            <th>Added Date</th>
            <th class="actionedit">
                Actions
            </th>
        </tr>
    </thead>
</table>