
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <img src="~/images/Logo.jpeg" style=" display: block; margin-left: auto; margin-right: auto; width: 60%;" />
        </div>
        <div class="row">
            <div class="col-sm-12 text-justify">
                <p>
                    <b>DealSe</b> is an Informative platform which provides various information about different brands.
                </p>
                <p>
                    As Government of India is inspiring the initiative <b>“Vocal for Local”</b>, our platform is a little effort towards the same.
                </p>
                <p>
                    Our Application is providing information about brands, its products and its services in such way that user can identify that brand or company is swadesi or not using <b>“Swadesi meter”</b>.
                </p>
            </div>
        </div>
    </div>
