@*View to edit city*@
@model DealSe.Areas.Admin.FormModels.CityFormModel
@{
    ViewData["Title"] = "EditCity";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home" , new {Area="Admin" })"><i class="entypo-home"></i>Home</a>
    </li>
    <li><a href="@Url.Action("Index", "City" , new { Area="Admin" })"><i class="entypo-globe"></i>Cities</a></li>
    <li class="active">
        <strong>Edit City</strong>
    </li>
</ol>
<h2>Edit City</h2>
<br />
@if (ViewBag.Error != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger"><strong>Oops!</strong> @ViewBag.Error</div>
        </div>
    </div>
}
@using (Html.BeginForm("EditCity", "City", FormMethod.Post))
{
    @await Html.PartialAsync("_CityInfo", Model)
}
